@model CustomerLegalPersonTable
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                  <input type="hidden" name="customerLegalPersonId" value="@ViewBag.cID" />
                    @*<div class="form-group form-group-float w-lg-50">
                        <label>Customer</label>
                        <select class="custom-select " name="customerLegalPersonId">
                            @foreach (CustomerLegalPerson customerLegalPerson in ViewBag.CustomerLegalPeople)
                            {

                                <option value="@customerLegalPerson.Id">@customerLegalPerson.Name</option>

                                
                                
                               
                            }
                        </select>
                    </div>*@
                    <div class="form-group form-group-float w-lg-50">
                        <label>Contract Type</label>
                        <select class="custom-select " name="contractTypeId">
                            @foreach (ContractType contractType in ViewBag.ContractTypes)
                            {
                                <option value="@contractType.Id">@contractType.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-float w-lg-50">
                        <label>Valyuta</label>
                        <select class="custom-select " name="valyutaId">
                            @foreach (Valyuta valyuta in ViewBag.Valyutas)
                            {
                                <option value="@valyuta.Id">@valyuta.Name</option>
                            }
                        </select>
                    </div>
                  <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <a asp-controller="CustomerLegalPerson" asp-action="Index" class="btn btn-secondary">Go back</a>
                </form>

            </div>
        </div>
    </div>
</div>

