@{
    ViewData["Title"] = "Index";
    List<Address> addresses = Model;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">ÜNVANLAR</h4>
                <a asp-action="Create" class="btn btn-primary">Create</a>
                <div class="table-responsive">
                    <table class="data-table  index w-100">
                        <thead>
                            <tr>
                                
                                <th>Id</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Address address in addresses)
                            {
                            <tr>
                                <td>
                                    @address.Id
                                </td>
                                <td>
                                    @address.Name
                                </td>
                                <td>
                                    <a asp-action="Detail" asp-route-id="@address.Id" class="btn btn-success">Detail</a>
                                    <a asp-action="Update" asp-route-id="@address.Id" class="btn btn-warning">Update</a>
                                    <a asp-action="Delete" asp-route-id="@address.Id" class="btn btn-danger delete">Delete</a>
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

