@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    List<TransportDocument> transportDocuments = Model;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    DAŞINMA SƏNƏDİ
                </h4>
                <div class="row">
                    <div class="col-md-1">
                        <a asp-action="Create" class="btn btn-primary">Create</a>
                    </div>
                    <div class="col-md-2" style="display: flex; justify-content: center; align-items: center;">
                        <label class="m-0">Create copy of this SL: </label>
                    </div>
                    <div class="col-md-3">
                        <select id="copy-transport-document-id" class="custom-select " name="assistant1Id">
                            @foreach (var transportDocument in transportDocuments)
                            {
                                <option value="@transportDocument.Id">SL @transportDocument.Id</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button id="create-copy-button" class="btn btn-secondary">Create Copy</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table data-ordering="false" data-page-length="50" class="data-table  index w-100">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Customer</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (TransportDocument transportDocument in transportDocuments)
                        {
                            <tr>
                                <td>
                                    SL @transportDocument.Id
                                </td>
                                <td id="@transportDocument.Id-customer-td"></td>
                                <td>@transportDocument.Date.ToShortDateString()</td>

                                <td>
                                    <a style="padding:10px" asp-action="Detail" asp-route-id="@transportDocument.Id" class="btn btn-info">View</a>
                                    @if (transportDocument.IsLocked == false)
                                    {
                                        <a style="padding:10px" asp-action="DetailAll" asp-route-id="@transportDocument.Id" class="btn btn-success">Detail All</a>
                                        <a style="padding:10px" asp-action="Update" asp-route-id="@transportDocument.Id" class="btn btn-warning">Edit</a>
                                    }
                                    @if (User.IsInRole("Admin"))
                                    {
                                        if (transportDocument.IsLocked)
                                        {
                                            <button id="@transportDocument.Id-unlock" onclick="unlock(@transportDocument.Id)" style="padding:10px" class="btn btn-danger">Unlock</button>
                                        }
                                        else
                                        {
                                            <button id="@transportDocument.Id-lock" onclick="lock(@transportDocument.Id)" style="padding:10px" class="btn btn-danger">Lock</button>
                                        }
                                    }
                                    
                                    <button id="@transportDocument.Id-show-customer" onclick="showCustomer(@transportDocument.Id)" style="padding:10px" class="btn btn-secondary">Show Customer</button>
                                </td>

                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script >

        $('#create-copy-button').click(function() {
        const copiedTransportDocumentId = $('#copy-transport-document-id').val()
                            
        $.ajax({
            url: `/transportdocument/createcopy/${copiedTransportDocumentId}`,
            type: "POST",
            success: function(response) {
                window.location.reload()
            }
        })})  
        
        function lock(id){
            document.getElementById(`${id}-lock`).classList.add('btn-secondary')
            document.getElementById(`${id}-lock`).classList.remove('btn-danger')
            $.ajax({
                        url: `/transportdocument/lock/${id}`,
                        type: "GET",
                        success: function(response) {
                            // window.location.reload()
                        }
                    })  
        }
        
        function unlock(id){
                     document.getElementById(`${id}-unlock`).classList.add('btn-secondary')
                     document.getElementById(`${id}-unlock`).classList.remove('btn-danger')
                    $.ajax({
                                url: `/transportdocument/lock/${id}`,
                                type: "GET",
                                success: function(response) {
                                    // window.location.reload()
                                }
                            })  
                }
                
        function showCustomer(id){
            
              $.ajax({
                                            url: `/transportdocument/GetCustomers?transportDocumentId=${id}`,
                                            type: "GET",
                                            success: function(response) {
                                                const td = document.getElementById(id+"-customer-td")
                                                td.innerHTML = response
                                            }
                                        })  
            
        }
    
    </script>

}