@{
    ViewData["Title"] = "Detail";
    Institution institution = Model;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h2 class="mt-0 header-title">Detail</h2>
            <a asp-action="Index" class="btn btn-primary mb-3" style="justify-content:end">
                Go Back
            </a>
            <div class="table-responsive">
                <h3 class=" mt-5 " style="color:#297358">Institution</h3>
                <table class="table table-bordered mb-3">
                    <thead>
                        <tr>
                            <th scope="row">Id</th>
                            <th scope="row">Enterprise Type</th>
                            <th scope="row">Name</th>
                            <th scope="row">Director</th>
                            <th scope="row">Voen</th>
                            <th scope="row">Phone</th>
                            <th scope="row">Mail</th>
                            <th scope="row">Legal Address</th>
                        </tr>

                        
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @institution.Id
                            </td>
                            <td>
                                @institution.EnterpriseType.Name
                            </td>
                            <td>
                                @institution.Name
                            </td>
                            <td>
                                @institution.Leader
                            </td>
                            <td>
                                @institution.Voen
                            </td>
                            <td>
                                @institution.Phone
                            </td>
                            <td>
                                @institution.Mail
                            </td>
                            <td>
                                @institution.LegalAddress
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                <table class="table table-bordered mb-3">
                    <thead>
                        <tr>
                            <th scope="row">Physical Address</th>
                            <th scope="row">Bank Name</th>
                            <th scope="row">Bank Kod</th>
                            <th scope="row">Bank Swift</th>
                            @*<th scope="row">Bank M/H</th>*@
                            <th scope="row">Description</th>
                            <th scope="row">File</th>
                        </tr>


                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @institution.PhysicalAddress
                            </td>
                            <td>
                                @institution.Bank.Name
                            </td>
                            <td>
                                @institution.Bank.Kod
                            </td>
                            <td>
                                @institution.Bank.Swift
                            </td>
                            @*<td>
                                @institution.Bank.MH
                            </td>*@
                            <td>
                                @Html.Raw(institution.Description)
                            </td>
                            <td>
                                <a href="~/files/@institution.FileName" target="_blank">@institution.FileName</a>

                            </td>
                        </tr>

                    </tbody>
                </table>
                <table class="table table-bordered mb-3">
                    <thead>
                        <tr>
                            <th scope="row">AZN HH</th>
                            <th scope="row">EURO HH</th>
                            <th scope="row">$ HH</th>
                            <th scope="row">RUB HH</th>
                        </tr>


                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @institution.HH1
                            </td>
                            <td>
                                @institution.HH2
                            </td>
                            <td>
                                @institution.HH3
                            </td>
                            <td>
                                @institution.HH4
                            </td>
                            
                            
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>






