@{
    ViewData["Title"] = "Detail";
    List<TransportDocumentTable> transportDocumentTables = Model;

}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h2 class="mt-0 header-title">Reports Form</h2>

            <div class="table-responsive">

                <a asp-action="SendMail" class="btn btn-success">Send Mail</a>

                <table data-ordering="false" id="myTable2" style="width:100%" class="table mb-5 table-bordered table-hover table-sm ">
                    <thead class="thead-doc">
                    <tr>
                        @*<th>№</th>*@
                        <th>SL NO:</th>
                        <th>Type </th>
                        <th>Inc</th>
                        <th>Manager</th>
                        <th>Date </th>
                        <th>Status </th>
                        <th>Customer</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Commodity</th>
                        <th>Agent</th>
                        <th>Buy</th>
                        <th>Sell</th>
                        <th>Profit</th>
                        <th>Payment</th>
                        <th>Debt</th>
                        @*<th>Direction</th>
                            <th>Curr.</th>
                            <th>Qty</th>
                            <th>Sale</th>
                            <th>Expence</th>
                            <th>Profit</th>
                            <th>Pre-Payment</th>
                            <th>Debt</th>
                            <th>Description</th>*@
                    </tr>
                    </thead>
                    <tbody id="report-tbody">
                    @foreach (TransportDocumentTable transportDocumentTable in transportDocumentTables)
                    {
                        double remainder = transportDocumentTable.Salary - transportDocumentTable.CommonSalary;

                        double expense = 0;
                        foreach (ApportionmentOfCostTable item in transportDocumentTable.CostList)
                        {
                            expense += item.Amount;
                        }
                        double end = transportDocumentTable.Salary - expense;

                        <tr>
                            @*<td>
                            @transportDocumentTable.Id
                            </td>*@
                            <td>
                                SL @transportDocumentTable.TransportDocument.Id
                            </td>
                            <td>
                                @transportDocumentTable.ConditionOfCarriage.Name
                            </td>
                            <td>
                                @transportDocumentTable.TypeOfTransportation.Name
                            </td>
                            <td>
                                @transportDocumentTable.Personal.Name
                            </td>

                            <td>
                                @transportDocumentTable.Date
                            </td>
                            <td>
                                @transportDocumentTable.StatusOfShipment.Name
                            </td>
                            <td>
                                @transportDocumentTable.Customer
                            </td>
                            <td>
                                @transportDocumentTable.AddressFrom
                            </td>
                            <td>
                                @transportDocumentTable.AddressTo
                            </td>
                            <td>
                                @transportDocumentTable.Name
                            </td>
                            <td>
                                @transportDocumentTable.Institution.Name
                            </td>
                            <td class="class-totalBuy">
                                @transportDocumentTable.CostList.Sum(x => x.Amount)
                            </td>
                            <td class="class-totalSell">
                                @transportDocumentTable.ValueList.Sum(x => x.Amount)
                            </td>
                            <td class="class-totalProfit">
                                @{
                                    var profit = transportDocumentTable.ValueList.Sum(x => x.Amount) - @transportDocumentTable.CostList.Sum(x => x.Amount);
                                }
                                @profit
                            </td>
                            <td class="class-totalPayment">
                                @transportDocumentTable.PaymentList.Sum(x => x.Amount)
                            </td>
                            <td class="class-totalDebt">
                                @{
                                    var debt = transportDocumentTable.ValueList.Sum(x => x.Amount) - @transportDocumentTable.PaymentList.Sum(x => x.Amount);
                                }
                                @debt
                            </td>

                        </tr>
                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

@section scripts {

    <script>

        const totalBuy = getTotal('class-totalBuy')
        const totalSell = getTotal('class-totalSell')
        const totalProfit = getTotal('class-totalProfit')
        const totalPayment = getTotal('class-totalPayment')
        const totalDebt = getTotal('class-totalDebt')

        console.log(totalBuy, totalSell, totalProfit, totalPayment, totalDebt)

        function getTotal(className) {
            let cells = document.querySelectorAll('.' + className)
            let total = 0;

            cells.forEach(cell => {
                total += Number(cell.innerText);
            });

            return total;
        }

        const tbody = document.getElementById('report-tbody')
        const tr = document.createElement('tr')
        for (let i = 0; i < 11; i++) {
            tr.appendChild(document.createElement('td'))
        }
        
        let totalBuyTd = document.createElement('td')
        totalBuyTd.innerText = totalBuy
        tr.appendChild(totalBuyTd)
        
        let totalSellTd = document.createElement('td')
        totalSellTd.innerText = totalSell
        tr.appendChild(totalSellTd)

        let totalProfitTd = document.createElement('td')
        totalProfitTd.innerText = totalProfit
        tr.appendChild(totalProfitTd)
        
        let totalPaymentTd = document.createElement('td')
        totalPaymentTd.innerText = totalPayment
        tr.appendChild(totalPaymentTd)
        
        let totalDebtTd = document.createElement('td')
        totalDebtTd.innerText = totalDebt
        tr.appendChild(totalDebtTd)

        tbody.appendChild(tr)

    </script>
}