@{
    ViewData["Title"] = "Index";
    List<TransportDocumentTable> transportDocumentTables = Model;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">DAŞINMA SƏNƏDİ CƏDVƏLİ</h4>
                <a asp-action="Create" class="btn btn-primary">Create</a>
                <div class="table-responsive">
                    <table class="data-table  index w-100">
                        <thead>
                            <tr>

                                <th>Id</th>
                                <th>Transport Document Id</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TransportDocumentTable transportDocumentTable in transportDocumentTables)
                            {
                                <tr>
                                    <td>
                                        @transportDocumentTable.Id
                                    </td>
                                    <td>
                                        SL @transportDocumentTable.TransportDocument.Id
                                    </td>

                                    <td>
                                        <a style="padding:10px" asp-action="DetailCost" asp-route-id="@transportDocumentTable.Id" class="btn btn-success">Detail</a>
                                        <a style="padding:10px" asp-action="Update" asp-route-id="@transportDocumentTable.Id" class="btn btn-warning">Edit</a>
                                        <a style="padding:10px" asp-action="Delete" asp-route-id="@transportDocumentTable.Id" class="btn btn-danger delete">Delete</a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

