@{
    ViewData["Title"] = "Index";
    List<UnofficialClient> unofficialClients = Model;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Müştərilər Qeyri Rəsmi
                </h4>
                <a asp-action="Create" class="btn btn-primary">Create</a>
                <div class="table-responsive">
                    <table class="data-table  index w-100">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(UnofficialClient unofficialClient in unofficialClients)
                            {
                            <tr>
                                <td>
                                    @unofficialClient.Id
                                </td>
                                <td>
                                    @unofficialClient.Name
                                </td>
                                <td>
                                        <a style="padding:10px" asp-action="Detail" asp-route-id="@unofficialClient.Id" class="btn btn-success">Detail</a>
                                        <a style="padding:10px" asp-action="Update" asp-route-id="@unofficialClient.Id" class="btn btn-warning">Edit</a>
                                        <a style="padding:10px" asp-action="Delete" asp-route-id="@unofficialClient.Id" class="btn btn-danger delete">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

