@{
    ViewData["Title"] = "Index";
    List<CustomerLegalPerson> customerLegalPeople = Model;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Müştərilər</h4>
                <a asp-action="Create" class="btn btn-primary">Create</a>
                <div class="table-responsive">
                    <table data-ordering="false" class="data-table  index w-100">
                        <thead>
                            <tr>
                                
                                @*<th>Id</th>*@
                                <th>Customer Type</th>
                                <th>Name</th>
                                <th>Director</th>
                                <th>Note</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CustomerLegalPerson customerLegalPerson in customerLegalPeople)
                            {
                            <tr>
                                @*<td>
                                    @customerLegalPerson.Id
                                </td>*@
                                <td>
                                    @customerLegalPerson.CustomerType.Type
                                </td>
                                <td>
                                    @customerLegalPerson.Name
                                </td>
                                <td>
                                    @customerLegalPerson.Manager
                                </td>
                                    <td>
                                        @customerLegalPerson.Description
                                    </td>
                                <td>
                                        <a style="padding:10px" asp-action="Detail" asp-route-id="@customerLegalPerson.Id" class="btn btn-success">Detail</a>
                                        <a style="padding:10px" asp-action="Update" asp-route-id="@customerLegalPerson.Id" class="btn btn-warning">Edit</a>
                                        <a style="padding:10px" asp-action="Delete" asp-route-id="@customerLegalPerson.Id" class="btn btn-danger delete">Delete</a>
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

