@{
    ChangePasswordRequestVM user = Model;
}


@*<form asp-controller="ChangePassword" asp-action="details">
    <input asp-for="@user.Username" value=@user.Username />
<input asp-for="@user.Password" type="password" />
   <span class="text-danger" asp-validation-for="@user.Password"></span>
<button>Change Password</button>
</form>*@

<div class="col-6">
    <form asp-controller="ChangePassword" asp-action="details">

        <div class="input-group mb-3">
            <input asp-for="@user.Username" class="form-control-plaintext" value=@user.Username readonly />
            <input asp-for="@user.Password" type="password" class="form-control" placeholder="change password" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="text-danger" asp-validation-for="@user.Password"></span>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary">Change Password</button>
            </div>
        </div>
    </form>
</div>
