@model Personal
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname">Surname</label>
                        <input asp-for="Surname" class="form-control" placeholder="Surname">
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FathersName">Fathers Name</label>
                        <input asp-for="FathersName" class="form-control" placeholder="Fathers Name">
                        <span asp-validation-for="FathersName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Birthday">Birthday</label>
                        <input asp-for="Birthday" class="form-control" placeholder="Birthday">
                        <span asp-validation-for="Birthday" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address">Address</label>
                        <input asp-for="Address" class="form-control" placeholder="Address">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group form-group-float w-lg-50">
                        <label>Personnel Type</label>
                        <select class="custom-select " name="personalTypeId">
                            @foreach (PersonnelType personnelType in ViewBag.PersonnelTypes)
                            {
                                if (Model.PersonnelTypeId == personnelType.Id)
                                {
                                    <option selected value="@personnelType.Id">@personnelType.Name</option>
                                }
                                else
                                {
                                    <option value="@personnelType.Id">@personnelType.Name</option>
                                }
                            }
                        </select>
                    </div>
                    @*<div class="form-group form-group-float w-lg-50">
                        <label>Position</label>
                        <select class="custom-select " name="positionId">
                            @foreach (Position position in ViewBag.Positions)
                            {
                                if (Model.PositionId == position.Id)
                                {
                                    <option selected value="@position.Id">@position.Name</option>
                                }
                                else
                                {
                                    <option value="@position.Id">@position.Name</option>
                                }
                            }
                        </select>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Phone">Phone</label>
                        <input asp-for="Phone" class="form-control" placeholder="Phone">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mail">Mail</label>
                        <input asp-for="Mail" class="form-control" placeholder="Mail">
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PersonalInformation">Personal Information</label>
                        <input asp-for="PersonalInformation" class="form-control" placeholder="Personal Information">
                        <span asp-validation-for="PersonalInformation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group form-group-float" style="width: 50%">
                        <label asp-for="File">pdf file</label>
                        <input accept="application/pdf" asp-for="File" class="form-control">
                        <span class="text-danger" asp-validation-for="File"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Edit</button>
                    <a asp-action="Index" class="btn btn-secondary">Go back</a>
                </form>
            </div>
        </div>
    </div>
</div>

